@charset "UTF-8";
/***********************************
* =Variables
***********************************/
/***********************************
* =General
***********************************/
a {
  text-decoration: none;
  color: #62686E; }
  a:visited {
    color: #62686E; }

body {
  background: #F4F8F9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #62686E; }

p {
  margin-bottom: 20px; }

.widget-container {
  background: white;
  margin-bottom: 20px;
  border: 1px solid #F0F3F5;
  box-shadow: 0px 2px 5px 0px #ecf0f3; }

.widget-container h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  padding: 15px 20px;
  border-bottom: 1px solid #ECEFF2; }

.widget-container--sidebar {
  padding: 0; }

.widget-container--no-bg {
  background: none; }

button {
  display: block;
  margin: auto;
  border-style: none;
  border: 1px solid #70B4E8;
  color: #70B4E8;
  background: white;
  border-radius: 16px;
  cursor: pointer;
  padding: 8px 22px;
  font-size: 14px;
  margin-bottom: 10px;
  width: 110px;
  outline: none; }
  button:hover {
    background: #70B4E8;
    color: white; }

.button-primary {
  background: #70B4E8;
  color: white; }
  .button-primary:hover {
    background: #449de1; }

.button-wider {
  width: 150px; }

hr {
  margin: 0;
  border-top: 1px solid #F9FBFC; }

img {
  max-width: 100%; }

/***********************************
* =Navigation
***********************************/
header {
  background: white;
  margin-bottom: 20px; }

.navigation__top {
  border-bottom: 1px solid #edeff3;
  height: 80px; }

.logo {
  display: inline;
  border-right: 1px solid #edeff3;
  float: left;
  height: 80px; }
  .logo img {
    width: 28px;
    padding-top: 23px;
    padding-right: 20px; }

.navigation__search {
  display: inline;
  position: relative; }
  .navigation__search .fa-search {
    float: left;
    margin-top: 28px;
    margin-left: -45px; }

.navigation__search input {
  display: inline-block;
  float: left;
  width: auto;
  margin: 20px 20px 0 20px;
  padding: 10px;
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #DEE0E4;
  outline: 0; }

.navigation__main-links {
  display: inline-block;
  float: left;
  height: 80px;
  border-left: 1px solid #edeff3; }
  .navigation__main-links li {
    display: inline-block;
    height: 100%;
    padding: 26px 20px; }
  .navigation__main-links a:hover {
    text-decoration: underline; }

.navigation__notifications {
  display: inline;
  height: 80px;
  float: right;
  border-left: 1px solid #edeff3; }
  .navigation__notifications li {
    display: inline-block;
    padding: 24px 16px 0 16px; }
  .navigation__notifications .fa {
    font-size: 22px; }
  .navigation__notifications .fa-bell {
    color: #E8AF52; }
    .navigation__notifications .fa-bell:hover, .navigation__notifications .fa-bell:focus {
      color: #eec47f; }
  .navigation__notifications .fa-user-plus {
    color: #BA85E0; }
    .navigation__notifications .fa-user-plus:hover, .navigation__notifications .fa-user-plus:focus {
      color: #d1aeea; }
  .navigation__notifications .fa-comment {
    color: #85B972; }
    .navigation__notifications .fa-comment:hover, .navigation__notifications .fa-comment:focus {
      color: #a2ca94; }

.navigation__account {
  display: inline-block;
  float: right;
  height: 80px;
  border-left: 1px solid #edeff3; }
  .navigation__account .avatar {
    width: 55px;
    padding-top: 10px;
    padding-left: 20px; }
    .navigation__account .avatar:hover {
      opacity: 0.75; }

.navigation__user-info {
  box-shadow: 0px 2px 5px 0px #ecf0f3;
  padding: 15px 15px 0 15px; }
  .navigation__user-info li {
    display: inline-block;
    margin-right: 20px;
    padding: 0 20px 15px 20px; }
    .navigation__user-info li.active {
      border-bottom: 2px solid #70B4E8; }
    .navigation__user-info li:not(.active) > a {
      color: #bec1c5 !important; }
      .navigation__user-info li:not(.active) > a:hover {
        color: #62686E !important; }

/***********************************
* =Profile
***********************************/
.profile {
  text-align: center;
  margin-bottom: 20px; }

.profile__avatar {
  padding-top: 20px; }

.profile__name {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px; }

.profile__title, .profile__area {
  font-weight: 300;
  line-height: 1.2; }

.profile__area {
  color: #A7A9AC; }

.profile__buttons {
  padding: 20px 0; }

.profile__stats {
  border-top: 2px solid #edeff3;
  border-bottom: 2px solid #edeff3; }

.profile__stats__divider {
  border-right: 2px solid #edeff3; }

.profile__stat {
  padding: 12px 0; }

.profile__stat__number {
  font-weight: 600; }

.profile__stat__type {
  line-height: 1.2;
  color: #A7A9AC; }

.profile__links, .profile__export {
  border-bottom: 1px solid #edeff3;
  padding: 12px 0 12px 22px;
  text-align: left;
  font-weight: 300; }
  .profile__links i.fa, .profile__export i.fa {
    margin-right: 10px; }

.profile__links a, .profile__export a {
  color: #A7A9AC; }
  .profile__links a:hover, .profile__export a:hover {
    color: #62686E; }

/***********************************
* =People Also Viewed
***********************************/
.people-also-viewed {
  margin-bottom: 20px; }

.people-also-viewed h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  text-align: center; }

.people-also-viewed__item {
  position: relative;
  padding: 12px 0; }

.people-also-viewed__image, .people-also-viewed__name, .people-also-viewed__title {
  float: left; }

.people-also-viewed__image {
  width: 60px;
  float: left; }

.people-also-viewed__name {
  font-weight: 600;
  padding-left: 8px; }
  .people-also-viewed__name:hover {
    color: #A7A9AC; }

.people-also-viewed__title {
  padding-left: 8px;
  font-size: 14px;
  color: #A7A9AC;
  width: 136px;
  line-height: 1.4; }

.people-also-viewed__plus {
  position: absolute;
  right: 10px; }
  .people-also-viewed__plus:hover {
    color: #A7A9AC; }
  .people-also-viewed__plus .fa-plus-circle {
    font-size: 20px; }

.people-also-viewed__see-all {
  text-align: center;
  margin-top: 8px; }
  .people-also-viewed__see-all a {
    color: #00C0EE;
    text-decoration: underline; }
    .people-also-viewed__see-all a:hover, .people-also-viewed__see-all a:focus {
      color: #00abd5; }

/***********************************
* =More Influencers
***********************************/
.more-influencers {
  text-align: center;
  margin-bottom: 20px; }

.more-influencers h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300; }

.more-influencers__image {
  margin-top: 20px;
  width: 88px; }

.more-influencers__title {
  color: #A7A9AC; }

.more-influencers__plus:hover {
  color: #A7A9AC; }

/***********************************
* =Posts
***********************************/
.posts .posts__carousel {
  padding: 20px; }

.posts .carousel-cell {
  width: 33%;
  height: 330px;
  /* height of carousel */
  margin-right: 20px; }

.posts .posts__title {
  font-size: 18px;
  font-weight: 600; }

.posts .posts__date {
  color: #A7A9AC; }

.posts .carousel-cell img {
  width: 100%; }

/***********************************
* =Background
***********************************/
.background .background__container {
  padding: 20px; }

.background h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.background h2 .fa {
  margin-right: 14px;
  font-size: 24px; }

.background .background__sub-container {
  padding-left: 36px;
  margin-bottom: 30px; }

.background .background__skill-list {
  font-size: 20px; }

.background .background__skill-list li {
  margin: 20px 0 50px; }

.background .background__skill-number {
  border: 1px solid #62686E;
  border-radius: 50%;
  padding: 12px 14px;
  margin-right: 12px; }

.background .background__skills img {
  max-width: 50px;
  margin-top: -10px; }

.background .background__interest-list {
  margin-top: 25px; }

.background .background__interest-list li {
  display: inline;
  background: #f5f8f9;
  padding: 10px;
  margin-right: 5px; }

/***********************************
* =Recommendations
***********************************/
.recommendations .recommendations__carousel {
  padding: 20px; }

.recommendations .carousel-cell {
  width: 31.5%;
  margin-right: 20px; }

.recommendations .recommendation {
  border: 1px solid #ECEFF2;
  padding: 20px;
  position: relative;
  margin-bottom: 40px; }

.recommendations .recommendation__img {
  float: left;
  width: 60px;
  margin-right: 14px; }

.recommendations .recommendation__person-name {
  font-size: 18px;
  font-weight: 600; }

.recommendations .recommendation__company {
  font-size: 14px;
  color: #A7A9AC; }

.recommendations .recommendation:after, .recommendation:before {
  top: 100%;
  left: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.recommendations .recommendation:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: white;
  border-width: 20px;
  margin-left: -20px; }

.recommendations .recommendation:before {
  border-color: white;
  border-top-color: #ECEFF2;
  border-width: 21px;
  margin-left: -21px; }

.recommendations .recommendation p:before {
  content: '“ ';
  font-size: 28px;
  font-weight: bold; }

/***********************************
* =Following
***********************************/
.following .following__container {
  padding: 20px 0 20px 20px; }

.following__extra {
  display: none; }

.following .following__logo {
  border: 1px solid #ECEFF2;
  margin-bottom: 10px; }

.following .following__company-name {
  font-size: 18px; }

.following .following__plus {
  color: #70B4E8; }
  .following .following__plus:hover {
    color: #51a4e3; }

/***********************************
* =Footer
***********************************/
footer {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #e3e7ec; }

/***********************************
* =Utility
***********************************/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.last, .no-padding-right {
  padding-right: 0; }

.mr {
  margin-right: 20px; }

.spacer {
  margin-bottom: 30px; }

/*# sourceMappingURL=app.css.map */
