/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/


[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
    padding-right: 0;
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
    margin: 0 auto;
    overflow: hidden;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-pad {
    padding-top: 20px;
    padding-left: 20px; /* grid-space to left */
    padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
    float: right;
}

/* Content Columns */

.col-1-1 {
    width: 100%;
}
.col-2-3, .col-8-12 {
    width: 66.66%;
}

.col-1-2, .col-6-12 {
    width: 50%;
}

.col-1-3, .col-4-12 {
    width: 33.33%;
}

.col-1-4, .col-3-12 {
    width: 25%;
}

.col-1-5 {
    width: 20%;
}

.col-1-6, .col-2-12 {
    width: 16.667%;
}

.col-1-7 {
    width: 14.28%;
}

.col-1-8 {
    width: 12.5%;
}

.col-1-9 {
    width: 11.1%;
}

.col-1-10 {
    width: 10%;
}

.col-1-11 {
    width: 9.09%;
}

.col-1-12 {
    width: 8.33%
}

/* Layout Columns */

.col-11-12 {
    width: 91.66%
}

.col-10-12 {
    width: 83.333%;
}

.col-9-12 {
    width: 75%;
}

.col-5-12 {
    width: 41.66%;
}

.col-7-12 {
    width: 58.33%
}

/* Pushing blocks */

.push-2-3, .push-8-12 {
    margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
    margin-left: 50%;
}

.push-1-3, .push-4-12 {
    margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
    margin-left: 25%;
}

.push-1-5 {
    margin-left: 20%;
}

.push-1-6, .push-2-12 {
    margin-left: 16.667%;
}

.push-1-7 {
    margin-left: 14.28%;
}

.push-1-8 {
    margin-left: 12.5%;
}

.push-1-9 {
    margin-left: 11.1%;
}

.push-1-10 {
    margin-left: 10%;
}

.push-1-11 {
    margin-left: 9.09%;
}

.push-1-12 {
    margin-left: 8.33%
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px; /* grid-space to left */
        padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
    }

    [class*='col-'] {
        width: auto;
        float: none;
        margin: 10px 0;
        padding-left: 0;
        padding-right: 10px; /* column-space */
    }

    [class*='col-'] [class*='col-'] {
        padding-right: 0;
    }

    /* Mobile Layout */

    [class*='mobile-col-'] {
        float: left;
        margin: 0 0 10px;
        padding-left: 0;
        padding-right: 10px; /* column-space */
        padding-bottom: 0;
    }

    .mobile-col-1-1 {
        width: 100%;
    }
    .mobile-col-2-3, .mobile-col-8-12 {
        width: 66.66%;
    }

    .mobile-col-1-2, .mobile-col-6-12 {
        width: 50%;
    }

    .mobile-col-1-3, .mobile-col-4-12 {
        width: 33.33%;
    }

    .mobile-col-1-4, .mobile-col-3-12 {
        width: 25%;
    }

    .mobile-col-1-5 {
        width: 20%;
    }

    .mobile-col-1-6, .mobile-col-2-12 {
        width: 16.667%;
    }

    .mobile-col-1-7 {
        width: 14.28%;
    }

    .mobile-col-1-8 {
        width: 12.5%;
    }

    .mobile-col-1-9 {
        width: 11.1%;
    }

    .mobile-col-1-10 {
        width: 10%;
    }

    .mobile-col-1-11 {
        width: 9.09%;
    }

    .mobile-col-1-12 {
        width: 8.33%
    }

    /* Layout Columns */

    .mobile-col-11-12 {
        width: 91.66%
    }

    .mobile-col-10-12 {
        width: 83.333%;
    }

    .mobile-col-9-12 {
        width: 75%;
    }

    .mobile-col-5-12 {
        width: 41.66%;
    }

    .mobile-col-7-12 {
        width: 58.33%
    }

    .hide-on-mobile {
        display: none !important;
        width: 0;
        height: 0;
    }
}


@charset "UTF-8";
/***********************************
* =Variables
***********************************/
/***********************************
* =General
***********************************/
a {
  text-decoration: none;
  color: #62686E; }
  a:visited {
    color: #62686E; }

body {
  background: #F4F8F9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #62686E; }

p {
  margin-bottom: 20px; }

.widget-container {
  background: white;
  margin-bottom: 20px;
  border: 1px solid #F0F3F5;
  box-shadow: 0px 2px 5px 0px #ecf0f3; }

.widget-container h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  padding: 15px 20px;
  border-bottom: 1px solid #ECEFF2; }

.widget-container--sidebar {
  padding: 0; }

.widget-container--no-bg {
  background: none; }

button {
  display: block;
  margin: auto;
  border-style: none;
  border: 1px solid #70B4E8;
  color: #70B4E8;
  background: white;
  border-radius: 16px;
  cursor: pointer;
  padding: 8px 22px;
  font-size: 14px;
  margin-bottom: 10px;
  width: 120px;
  outline: none; }
  button:hover {
    background: #70B4E8;
    color: white; }

.button-primary {
  background: #70B4E8;
  color: white; }
  .button-primary:hover {
    background: #449de1; }

.button-wider {
  width: 150px; }

hr {
  margin: 0;
  border-top: 1px solid #F9FBFC; }

img {
  max-width: 100%; }

/***********************************
* =Navigation
***********************************/
header {
  background: white;
  margin-bottom: 20px; }

.navigation__top {
  border-bottom: 1px solid #edeff3;
  height: 80px; }

.logo {
  display: inline;
  border-right: 1px solid #edeff3;
  float: left;
  height: 80px; }
  .logo img {
    width: 28px;
    padding-top: 23px;
    padding-right: 20px; }

.navigation__search {
  display: inline;
  position: relative; }
  .navigation__search .fa-search {
    float: left;
    margin-top: 28px;
    margin-left: -45px; }

.navigation__search input {
  display: inline-block;
  float: left;
  width: auto;
  margin: 20px 20px 0 20px;
  padding: 10px;
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #DEE0E4;
  outline: 0; }

.navigation__main-links {
  display: inline-block;
  float: left;
  height: 80px;
  border-left: 1px solid #edeff3; }
  .navigation__main-links li {
    display: inline-block;
    height: 100%;
    padding: 26px 20px; }
  .navigation__main-links a:hover {
    text-decoration: underline; }

.navigation__notifications {
  display: inline;
  height: 80px;
  float: right;
  border-left: 1px solid #edeff3; }
  .navigation__notifications li {
    display: inline-block;
    padding: 24px 16px 0 16px; }
  .navigation__notifications .fa {
    font-size: 22px; }
  .navigation__notifications .fa-bell {
    color: #E8AF52; }
    .navigation__notifications .fa-bell:hover, .navigation__notifications .fa-bell:focus {
      color: #eec47f; }
  .navigation__notifications .fa-user-plus {
    color: #BA85E0; }
    .navigation__notifications .fa-user-plus:hover, .navigation__notifications .fa-user-plus:focus {
      color: #d1aeea; }
  .navigation__notifications .fa-comment {
    color: #85B972; }
    .navigation__notifications .fa-comment:hover, .navigation__notifications .fa-comment:focus {
      color: #a2ca94; }

.navigation__account {
  display: inline-block;
  float: right;
  height: 80px;
  border-left: 1px solid #edeff3; }
  .navigation__account .avatar {
    width: 55px;
    padding-top: 10px;
    padding-left: 20px; }
    .navigation__account .avatar:hover {
      opacity: 0.75; }

.navigation__user-info {
  box-shadow: 0px 2px 5px 0px #ecf0f3;
  padding: 15px 15px 0 15px; }
  .navigation__user-info li {
    display: inline-block;
    margin-right: 20px;
    padding: 0 20px 15px 20px; }
    .navigation__user-info li.active {
      border-bottom: 2px solid #70B4E8; }
    .navigation__user-info li:not(.active) > a {
      color: #bec1c5 !important; }
      .navigation__user-info li:not(.active) > a:hover {
        color: #62686E !important; }

/***********************************
* =Profile
***********************************/
.profile {
  text-align: center;
  margin-bottom: 40px; }

.profile__avatar {
  padding-top: 20px; }

.profile__name {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px; }

.profile__title, .profile__area {
  font-weight: 300;
  line-height: 1.2; }

.profile__area {
  color: #A7A9AC; }

.profile__buttons {
  padding: 20px 0; }

.profile__stats {
  border-top: 2px solid #edeff3;
  border-bottom: 2px solid #edeff3; }

.profile__stats__divider {
  border-right: 2px solid #edeff3; }

.profile__stat {
  padding: 12px 0; }

.profile__stat__number {
  font-weight: 600; }

.profile__stat__type {
  line-height: 1.2;
  color: #A7A9AC; }

.profile__links, .profile__export {
  border-bottom: 1px solid #edeff3;
  padding: 12px 0 12px 22px;
  text-align: left;
  font-weight: 300; }
  .profile__links i.fa, .profile__export i.fa {
    margin-right: 10px; }

.profile__links a, .profile__export a {
  color: #A7A9AC; }
  .profile__links a:hover, .profile__export a:hover {
    color: #62686E; }

/***********************************
* =People Also Viewed
***********************************/
.people-also-viewed {
  margin-bottom: 40px; }

.people-also-viewed h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 14px; }

.people-also-viewed__item {
  position: relative;
  padding: 12px 0; }

.people-also-viewed__image, .people-also-viewed__name, .people-also-viewed__title {
  float: left; }

.people-also-viewed__image {
  width: 60px;
  float: left; }

.people-also-viewed__name {
  font-weight: 600;
  padding-left: 8px; }
  .people-also-viewed__name:hover {
    color: #A7A9AC; }

.people-also-viewed__title {
  padding-left: 8px;
  font-size: 14px;
  color: #A7A9AC;
  width: 136px;
  line-height: 1.4; }

.people-also-viewed__plus {
  position: absolute;
  right: 10px; }
  .people-also-viewed__plus:hover {
    color: #A7A9AC; }
  .people-also-viewed__plus .fa-plus-circle {
    font-size: 20px; }

.people-also-viewed__see-all {
  text-align: center;
  margin-top: 8px; }
  .people-also-viewed__see-all a {
    color: #00C0EE;
    text-decoration: underline; }
    .people-also-viewed__see-all a:hover, .people-also-viewed__see-all a:focus {
      color: #00abd5; }

/***********************************
* =More Influencers
***********************************/
.more-influencers {
  text-align: center;
  margin-bottom: 20px; }

.more-influencers h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300; }

.more-influencers__image {
  margin-top: 20px;
  width: 88px; }

.more-influencers__title {
  color: #A7A9AC; }

.more-influencers__plus:hover {
  color: #A7A9AC; }

/***********************************
* =Posts
***********************************/
.posts .posts__carousel {
  padding: 20px; }

.posts .carousel-cell {
  width: 33%;
  height: 330px;
  /* height of carousel */
  margin-right: 20px; }

.posts .posts__title {
  font-size: 18px;
  font-weight: 600; }

.posts .posts__date {
  color: #A7A9AC; }

.posts .carousel-cell img {
  width: 100%; }

/***********************************
* =Background
***********************************/
.background .background__container {
  padding: 20px; }

.background h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.background h2 .fa {
  margin-right: 14px;
  font-size: 24px; }

.background .background__sub-container {
  padding-left: 36px;
  margin-bottom: 30px; }

.background .background__experience__record {
  float: left;
  clear: left;
  margin-bottom: 30px;
  list-style-type: circle;
  margin-left: 25px; }

.background .background__experience__time {
  color: #A7A9AC; }

.background .background__experience__role {
  font-size: 18px; }

.background .background__experience__company {
  font-size: 18px;
  color: #70B4E8; }

.left {
  float: left;
  clear: left; }

.right {
  float: right;
  clear: right; }

.background .background__experience__logo {
  float: right;
  clear: right; }

.background .background__skill-list {
  font-size: 20px; }

.background .background__skill-list li {
  margin: 20px 0 50px; }

.background .background__skill-number {
  border: 1px solid #62686E;
  border-radius: 50%;
  padding: 12px 14px;
  margin-right: 12px; }

.background .background__skills img {
  max-width: 50px;
  margin-top: -10px; }

.background .background__skill-avatars-container {
  float: right; }

.background .background__skill-avatars {
  float: right;
  margin-left: 14px; }

.background .background__skill-avatars--number {
  background: #F4F8F9;
  border-radius: 20px;
  padding: 10px 8px; }

.background .background__interest-list {
  margin-top: 25px; }

.background .background__interest-list li {
  display: inline;
  background: #f5f8f9;
  padding: 10px;
  margin-right: 5px;
  line-height: 54px; }

/***********************************
* =Recommendations
***********************************/
.recommendations .recommendations__carousel {
  padding: 20px; }

.recommendations .carousel-cell {
  width: 31.5%;
  margin-right: 20px; }

.recommendations .recommendation {
  border: 1px solid #ECEFF2;
  padding: 20px;
  position: relative;
  margin-bottom: 40px; }

.recommendations .recommendation__img {
  float: left;
  width: 60px;
  margin-right: 14px; }

.recommendations .recommendation__person-name {
  font-size: 18px;
  font-weight: 600; }

.recommendations .recommendation__company {
  font-size: 14px;
  color: #A7A9AC; }

.recommendations .recommendation:after, .recommendation:before {
  top: 100%;
  left: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.recommendations .recommendation:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: white;
  border-width: 20px;
  margin-left: -20px; }

.recommendations .recommendation:before {
  border-color: white;
  border-top-color: #ECEFF2;
  border-width: 21px;
  margin-left: -21px; }

.recommendations .recommendation p:before {
  content: '“ ';
  font-size: 28px;
  font-weight: bold; }

/***********************************
* =Following
***********************************/
.following .following__container {
  padding: 20px 0 20px 20px; }

.following__extra {
  display: none; }

.following .following__logo {
  border: 1px solid #ECEFF2;
  margin-bottom: 10px; }

.following .following__company-name {
  font-size: 18px; }

.following .following__plus {
  color: #70B4E8; }
  .following .following__plus:hover {
    color: #51a4e3; }

/***********************************
* =Footer
***********************************/
footer {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #e3e7ec; }

/***********************************
* =Utility
***********************************/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.last, .no-padding-right {
  padding-right: 0; }

.mr {
  margin-right: 20px; }

.spacer {
  margin-bottom: 30px; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .background .background__skills img {
    max-width: 50px;
    margin-top: 20px;
    display: block; }
  .background .background__skill-avatars {
    float: none; }
  .background .background__skill-avatars-container {
    float: none;
    margin-top: 26px; }
  .background .background__skill-number {
    line-height: 54px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .background .background__experience__record {
    margin-bottom: 6px; }
  .background .background__experience__logo {
    float: none; } }

/* Custom, iPhone Retina */

/*# sourceMappingURL=app.css.map */

/*# sourceMappingURL=style.css.map */
